@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css');
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Poppins');





/* BASE RESET */
* {
  margin: 0;
  padding: 0;
}





/* Set font size for easy rem calculations
 * default document font size = 16px, 1rem = 16px, 100% = 16px
 * (100% / 16px) * 10 = 62.5%, 1rem = 10px, 62.5% = 10px
*/
html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

/* 1200px / 16px = 75em */
@media (max-width: 75em) {
  html {
    font-size: 60%;
  }
}

/* 980px / 16px = 61.25em */
@media (max-width: 61.25em) {
  html {
    font-size: 58%;
  }
}

/* 460px / 16px = 28.75em */
@media (max-width: 28.75em) {
  html {
    font-size: 55%;
  }
}





/* BASE STYLES */
body {
  background-image: url(//github.com/weltgeist27/images/blob/master/coding-924920_1920.jpg?raw=true);
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 1.8rem; /* 18px */
  font-weight: 400;
  line-height: 1.4;
  /* Parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


h1,
h2 {
  font-size: 6rem;
  font-weight: 700;
  text-align: center;
}


ul {
  list-style: none;
}

a {
  color: white;
  cursor: pointer;
  text-decoration: none;
}


.btn {
  border-radius: 2px;
  display: inline-block;
  padding: 1rem 2rem;
}





/* WELCOME SECTION */
.welcome-section {
  align-items: center;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.welcome-section > h1 {
  position: sticky;
  top: 50%;
  padding: 0.5rem 1rem;
}





/* NAV SECTION */
.nav {
  background-color: rgba(220,21,38,1);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  position: fixed;
  text-decoration: none;
  width: 100%;
  z-index: 10;
}


.nav-list {
  display: flex;
  margin-right: 2rem;
}

.nav-list > li {
  padding: 1rem;
}

.nav-list > li:hover {
  background: rgba(69,86,125,0.9);
}


@media (max-width: 28.75em) {
  .nav {
    justify-content: center;
  }
  
  .nav-list {
    margin: 0 1rem;
    padding: 0 1rem;
  }
}





/* #PROJECTS SECTION */
.projects-section {
  background: rgba(69,86,125,0.8);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
  text-align: center;
  padding: 3rem 2rem;
}

@media (max-width: 30.625em) {
  .projects-section {
    padding: 2rem 1rem;
  }
}


.projects-section-header {
  border-bottom: 0.2rem solid white;
  font-size: 3rem;
  margin: 0 auto 6rem auto;
  max-width: 640px;
}


.projects-grid {
  align-items: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 4rem;
  margin: 0 auto;
  margin-bottom: 6rem;
  max-width: 1280px;
  width: 100%;
}

/* grid-tile center for iPhone 5 */
@media (max-width: 28.75em) {  
  .projects-grid {
    grid-template-columns: 1fr;
  }
}


.project-tile {
  background: gray;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  font-size: 2rem;
  padding: 0 0 0.2rem;
}


.project-title {
  font-size: 2rem;
  height: 3fr;
  padding: 0.5rem;
}


.project-image {
  height: calc(100% - 6.8rem);
  object-fit: cover;
  width: 100%;
}


.project-footer {
  background: gray;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  font-size: 2rem;
  padding: 0 0 0.2rem;
}

.project-footer .code {
  color: gray;
  transition: color 0.3s ease-out;
}

.project-footer:hover .code {
  color: #ff7f50;
}





/* #CONTACT SECTION */
.contact-section {
	align-items: center;
	background: rgba(48, 56, 65,0.8);
	display: flex;
	flex-direction: column;
	height: 100vh;
	justify-content: center;
	text-align: center;
	width: 100%;
}


.contact-section-header {
  bottom: 0;
  position: sticky;
}

.contact-section-header > p {
  font-style: italic;
}

@media (max-width: 28.75em) {
  .contact-section-header > h2 {
    font-size: 4rem;
  }
}


.contact-wrapper {
  align-items: center;
  justify-content: center;
}


.contact-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 4rem;
  text-align: left;
  width: 100%;
}

@media (max-width: 30.625em) {  
  .contact-links {
    flex-direction: column;
  }
}


.contact-details {
  font-size: 2.4rem;
  padding: 1rem 2rem;
  text-shadow: 2px 2px 1px #1f1f1f;
  transition: transform 0.3s ease-out;
}

.contact-details:hover {
  transform: translateY(4px);
}





/* #FOOTER SECTION */
footer {
  background: rgba(48,56,65,1);
  border-top: 4px solid rgba(220,21,38,1);
  display: flex;
  font-weight: 300;
  justify-content: space-evenly;
  padding: 2rem;
}

@media (max-width: 28.75rem) {
  footer {
    flex-direction: column;
    text-align: center;
  }
}
